<div class="allCard d-flex justify-content-between">
  {{#each sock}}
  <div class="card m-1" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-name">{{this.sock_name}}</h5>
      <h5 class="card-size">{{this.sock_size}}</h5>
      <h5 class="card-season">{{this.sock_season}}</h5>
      <a id="add" href="/notApproved/{{this.id}}" class="btn btn-primary">Одобрить</a>
      <a id="update" href="/notApproved/{{this.id}}" class="btn btn-primary">Изменить</a>
      <a id="delete" href="/notApproved/{{this.id}}" class="btn btn-primary">Удалить</a>

    </div>
  </div>
{{/each}}</div>
